In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib
import scipy as sp
import sklearn

#Common Model Helpers
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

data_raw = pd.read_csv('train.csv')
data_val = pd.read_csv('test.csv')
print(data_raw.info())
print(data_val.info())

print('train column with null values',data_raw.isnull().sum())
print('test column with null values',data_val.isnull().sum())
data_cleaner = [data_raw,data_val]
for dataset in data_cleaner:
    dataset['Age'].fillna(dataset['Age'].median(),inplace = True)
    dataset['Embarked'].fillna(dataset['Embarked'].mode()[0],inplace = True)
    dataset['Fare'].fillna(dataset['Fare'].median(),inplace = True)
    
drop_columns = ['PassengerId','Cabin','Ticket','Name']
data_raw.drop(drop_columns,axis = 1,inplace = True)

print('Train column with null values',data_raw.isnull().sum())
print('Test column with null values',data_val.isnull().sum())


label = LabelEncoder()
for dataset in data_cleaner:
    dataset['Sex_code'] = label.fit_transform(dataset['Sex'])
    dataset['Embarked_code'] = label.fit_transform(dataset['Embarked'])

Target = ['Survived']

data_x = ['Pclass','Age','Sex','SibSp','Parch','Fare']
data_x_calc = ['Pclass','Age','SibSp','Parch','Fare','Sex_code','Embarked_code']
data_raw[data_x_calc]

print('Train column with null values',data_raw.isnull().sum())
print('Test column with null values',data_val.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None
train column with null values PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
test column with null values PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64
Train column with null values Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
Test column with null values PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64
Train column with null values Survived         0
Pclass           0
Sex              0
Age              0
SibSp            0
Parch            0
Fare             0
Embarked         0
Sex_code         0
Embarked_code    0
dtype: int64
Test column with null values PassengerId        0
Pclass             0
Name               0
Sex                0
Age                0
SibSp              0
Parch              0
Ticket             0
Fare               0
Cabin            327
Embarked           0
Sex_code           0
Embarked_code      0
dtype: int64

In [6]:
train_x,test_x,train_y,test_y = model_selection.train_test_split(data_raw[data_x_calc],data_raw[Target],random_state = 0)

In [3]:
train_x

     Pclass   Age  SibSp  Parch      Fare  Sex_code  Embarked_code
105       3  28.0      0      0    7.8958         1              2
68        3  17.0      4      2    7.9250         0              2
253       3  30.0      1      0   16.1000         1              2
320       3  22.0      0      0    7.2500         1              2
706       2  45.0      0      0   13.5000         0              2
271       3  25.0      0      0    0.0000         1              2
424       3  18.0      1      1   20.2125         1              2
752       3  33.0      0      0    9.5000         1              2
615       2  24.0      1      2   65.0000         0              2
2         3  26.0      0      0    7.9250         0              2
882       3  22.0      0      0   10.5167         0              2
467       1  56.0      0      0   26.5500         1              2
403       3  28.0      1      0   15.8500         1              2
258       1  35.0      0      0  512.3292         0              0
720       2   6.0      0      1   33.0000         0              2
272       2  41.0      0      1   19.5000         0              2
154       3  28.0      0      0    7.3125         1              2
832       3  28.0      0      0    7.2292         1              0
820       1  52.0      1      1   93.5000         0              2
382       3  32.0      0      0    7.9250         1              2
20        2  35.0      0      0   26.0000         1              2
585       1  18.0      0      2   79.6500         0              2
65        3  28.0      1      1   15.2458         1              0
680       3  28.0      0      0    8.1375         0              1
878       3  28.0      0      0    7.8958         1              2
304       3  28.0      0      0    8.0500         1              2
823       3  27.0      0      1   12.4750         0              2
521       3  22.0      0      0    7.8958         1              2
333       3  16.0      2      0   18.0000         1              2
698       1  49.0      1      1  110.8833         1              0
..      ...   ...    ...    ...       ...       ...            ...
72        2  21.0      0      0   73.5000         1              2
845       3  42.0      0      0    7.5500         1              2
537       1  30.0      0      0  106.4250         0              0
677       3  18.0      0      0    9.8417         0              2
849       1  28.0      1      0   89.1042         0              0
874       2  28.0      1      0   24.0000         0              0
174       1  56.0      0      0   30.6958         1              0
87        3  28.0      0      0    8.0500         1              2
551       2  27.0      0      0   26.0000         1              2
486       1  35.0      1      0   90.0000         0              2
705       2  39.0      0      0   26.0000         1              2
314       2  43.0      1      1   26.2500         1              2
396       3  31.0      0      0    7.8542         0              2
600       2  24.0      2      1   27.0000         0              2
472       2  33.0      1      2   27.7500         0              2
70        2  32.0      0      0   10.5000         1              2
599       1  49.0      1      0   56.9292         1              0
804       3  27.0      0      0    6.9750         1              2
754       2  48.0      1      2   65.0000         0              2
277       2  28.0      0      0    0.0000         1              2
723       2  50.0      0      0   13.0000         1              2
9         2  14.0      1      0   30.0708         0              0
359       3  28.0      0      0    7.8792         0              1
707       1  42.0      0      0   26.2875         1              2
763       1  36.0      1      2  120.0000         0              2
835       1  39.0      1      1   83.1583         0              0
192       3  19.0      1      0    7.8542         0              2
629       3  28.0      0      0    7.7333         1              1
559       3  36.0      1      0   17.4000         0              2
684       2  60.0      1      1   39.0000         1              2

[668 rows x 7 columns]

In [4]:
train_y.shape

(223, 7)

In [5]:
data_raw[data_x_calc]

     Pclass   Age  SibSp  Parch      Fare  Sex_code  Embarked_code
0         3  22.0      1      0    7.2500         1              2
1         1  38.0      1      0   71.2833         0              0
2         3  26.0      0      0    7.9250         0              2
3         1  35.0      1      0   53.1000         0              2
4         3  35.0      0      0    8.0500         1              2
5         3  28.0      0      0    8.4583         1              1
6         1  54.0      0      0   51.8625         1              2
7         3   2.0      3      1   21.0750         1              2
8         3  27.0      0      2   11.1333         0              2
9         2  14.0      1      0   30.0708         0              0
10        3   4.0      1      1   16.7000         0              2
11        1  58.0      0      0   26.5500         0              2
12        3  20.0      0      0    8.0500         1              2
13        3  39.0      1      5   31.2750         1              2
14        3  14.0      0      0    7.8542         0              2
15        2  55.0      0      0   16.0000         0              2
16        3   2.0      4      1   29.1250         1              1
17        2  28.0      0      0   13.0000         1              2
18        3  31.0      1      0   18.0000         0              2
19        3  28.0      0      0    7.2250         0              0
20        2  35.0      0      0   26.0000         1              2
21        2  34.0      0      0   13.0000         1              2
22        3  15.0      0      0    8.0292         0              1
23        1  28.0      0      0   35.5000         1              2
24        3   8.0      3      1   21.0750         0              2
25        3  38.0      1      5   31.3875         0              2
26        3  28.0      0      0    7.2250         1              0
27        1  19.0      3      2  263.0000         1              2
28        3  28.0      0      0    7.8792         0              1
29        3  28.0      0      0    7.8958         1              2
..      ...   ...    ...    ...       ...       ...            ...
861       2  21.0      1      0   11.5000         1              2
862       1  48.0      0      0   25.9292         0              2
863       3  28.0      8      2   69.5500         0              2
864       2  24.0      0      0   13.0000         1              2
865       2  42.0      0      0   13.0000         0              2
866       2  27.0      1      0   13.8583         0              0
867       1  31.0      0      0   50.4958         1              2
868       3  28.0      0      0    9.5000         1              2
869       3   4.0      1      1   11.1333         1              2
870       3  26.0      0      0    7.8958         1              2
871       1  47.0      1      1   52.5542         0              2
872       1  33.0      0      0    5.0000         1              2
873       3  47.0      0      0    9.0000         1              2
874       2  28.0      1      0   24.0000         0              0
875       3  15.0      0      0    7.2250         0              0
876       3  20.0      0      0    9.8458         1              2
877       3  19.0      0      0    7.8958         1              2
878       3  28.0      0      0    7.8958         1              2
879       1  56.0      0      1   83.1583         0              0
880       2  25.0      0      1   26.0000         0              2
881       3  33.0      0      0    7.8958         1              2
882       3  22.0      0      0   10.5167         0              2
883       2  28.0      0      0   10.5000         1              2
884       3  25.0      0      0    7.0500         1              2
885       3  39.0      0      5   29.1250         0              1
886       2  27.0      0      0   13.0000         1              2
887       1  19.0      0      0   30.0000         0              2
888       3  28.0      1      2   23.4500         0              2
889       1  26.0      0      0   30.0000         1              0
890       3  32.0      0      0    7.7500         1              1

[891 rows x 7 columns]

In [7]:
train_y.shape

(668, 1)

In [8]:
train_x.shape

(668, 7)

In [10]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear',random_state = 0)
classifier.fit(train_x ,train_y)

C:\Users\PRIYAL JAIN\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=0, shrinking=True,
  tol=0.001, verbose=False)

In [12]:
cv_split = model_selection.ShuffleSplit(n_splits = 10, test_size = .3, train_size = .6, random_state = 0 )
MLA_columns = ['MLA Name', 'MLA Parameters','MLA Train Accuracy Mean', 'MLA Test Accuracy Mean', 'MLA Test Accuracy 3*STD' ,'MLA Time']
MLA_predict = data_raw[Target]

In [13]:
cv_split = model_selection.ShuffleSplit(n_splits = 10, test_size = .3, train_size = .6, random_state = 0 )
MLA_columns = ['MLA Name', 'MLA Parameters','MLA Train Accuracy Mean', 'MLA Test Accuracy Mean', 'MLA Test Accuracy 3*STD' ,'MLA Time']
MLA_predict = data_raw[Target]

In [15]:
y_pred = classifier.predict(test_x)

In [19]:
from sklearn.metrics import confusion_matrix,accuracy_score
Cm = confusion_matrix(test_y,y_pred)
Ap = accuracy_score(test_y,y_pred)

In [20]:
Cm

array([[115,  24],
       [ 25,  59]], dtype=int64)

In [21]:
from sklearn.metrics import confusion_matrix,accuracy_score
Cm = confusion_matrix(test_y,y_pred)
Ap = accuracy_score(test_y,y_pred)

In [22]:
Cm

array([[115,  24],
       [ 25,  59]], dtype=int64)

In [23]:
Ap

0.7802690582959642

In [25]:
from sklearn.svm import LinearSVC
classifier = LinearSVC()
classifier.fit(train_x,train_y)

C:\Users\PRIYAL JAIN\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [27]:
y_pred = classifier.predict(test_x)
print(confusion_matrix(test_y, y_pred))

[[134   5]
 [ 63  21]]

In [28]:
print(accuracy_score(test_y, y_pred))

0.695067264573991